.App {
  text-align: center;
}

.logo {
  width: 20%;
  margin-bottom: 15px;
}

.QR-wrapper {
  margin-top: 25px;
}

.QR-code {
  width: 10%;
}

.Problem-box {
  padding: 10px;
}

.Question {
  font-size: 24px;
}

.Submit-button {
  background-color: #008000;
  color: #ffffff;
}
